@charset "UTF-8";
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: '微软雅黑',verdama;
  font-size: 12px;
  color: #000;
}

#section-1 {
  background-image: url("../image/pic_1.jpg");
}

#section-2 {
  background-image: url("../image/pic_2.jpg");
}

#section-3 {
  background-image: url("../image/pic_3.jpg");
}

#section-4 {
  background-image: url("../image/pic_4.jpg");
}

#section-5 {
  background-image: url("../image/pic_5.jpg");
}

#section-6 {
  background-image: url("../image/pic_6.jpg");
}

#section-7 {
  background-image: url("../image/pic_7.jpg");
}

#section-8 {
  background-image: url("../image/pic_8.jpg");
}

#section-9 {
  background-image: url("../image/pic_9.jpg");
}

#section-10 {
  background-image: url("../image/pic_10.jpg");
}

#section-11 {
  background-image: url("../image/pic_11.jpg");
}

.section {
  min-width: 1024px;
  height: 850px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#fp-nav ul li {
  width: 21px;
  height: 21px;
}

#fp-nav ul li a span {
  width: 11px;
  height: 11px;
  border-radius: 0;
  background-color: transparent;
  margin: -5.5px 0 0 -5.5px;
  background-image: url("../image/dot.png");
  background-repeat: no-repeat;
}

#fp-nav ul li a.active {
  background: url("../image/dot.png") no-repeat 0 -16px;
}

#fp-nav ul li a.active span {
  width: 11px;
  height: 11px;
  border-radius: 0;
  margin: -5.5px 0 0 -5.5px;
}

#fp-nav ul li .fp-tooltip {
  font-size: 12px;
  color: #8f9da4;
  font-family: '微软雅黑';
  top: 2px;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 11px;
  height: 11px;
  margin: -5.5px 0px 0px -5.5px;
}

.section .textArea, #section-1 .textArea .title, #section-1 .textArea .subTitle, #section-1 .textArea .modern {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}

.section .textArea {
  width: 1024px;
}

@keyframes opacityT {
  0%, 60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityF {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section .textArea .topic, #section-1 .textArea #MailSmall, #section-1 .textArea #MailBig, #section-1 .textArea .title, #section-1 .textArea .subTitle, #section-1 .textArea .modern, #section-2 .textArea .modern, #section-2 .textArea .desc-1, #section-2 .textArea .desc-2, #section-3 .textArea .topic, #section-3 .textArea .desc, #section-3 .textArea .modern .title, #section-3 .textArea .modern .pic1, #section-3 .textArea .modern .pic2, #section-3 .textArea .modern .pic3, #section-4 .textArea .desc, #section-4 .textArea .modern .title, #section-4 .textArea .modern .pic1, #section-4 .textArea .modern .pic2, #section-4 .textArea .modern .pic3, #section-4 .textArea .modern .pic4, #section-5 .textArea .topic, #section-5 .textArea .desc, #section-5 .textArea .modern .title, #section-5 .textArea .modern .pic1, #section-5 .textArea .modern .pic2, #section-5 .textArea .modern .pic3, #section-6 .textArea .topic, #section-6 .textArea .desc, #section-6 .textArea .modern .title, #section-6 .textArea .modern .pic1, #section-6 .textArea .modern .pic2, #section-6 .textArea .modern .pic3, #section-6 .textArea .modern .pic4, #section-7 .textArea .topic, #section-7 .textArea .desc, #section-7 .textArea .modern .title, #section-7 .textArea .modern .pic1, #section-7 .textArea .modern .pic2, #section-8 .textArea .topic, #section-8 .textArea .desc, #section-8 .textArea .modern .title, #section-8 .textArea .modern .pic3, #section-8 .textArea .modern .pic4, #section-9 .textArea .topic, #section-9 .textArea .desc, #section-9 .textArea .modern .title, #section-9 .textArea .modern .pic2, #section-9 .textArea .modern .pic3, #section-9 .textArea .modern .pic4, #section-10 .textArea .topic, #section-10 .textArea .desc, #section-10 .textArea .modern .title, #section-10 .textArea .modern .pic1, #section-10 .textArea .modern .pic3, #section-11 .textArea .modern .title-1, #section-11 .textArea .modern .title-2, #section-11 .textArea .modern .pic {
  transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#section-3.active .textArea .modern .pic1, #section-3.active .textArea .modern .pic2, #section-3.active .textArea .modern .pic3, #section-4.active .textArea .desc, #section-4.active .textArea .modern .pic2, #section-4.active .textArea .modern .pic3, #section-4.active .textArea .modern .pic4, #section-5.active .textArea .modern .pic2, #section-6.active .textArea .desc, #section-6.active .textArea .modern .pic1, #section-6.active .textArea .modern .pic2, #section-6.active .textArea .modern .pic3, #section-6.active .textArea .modern .pic4, #section-7.active .textArea .desc, #section-7.active .textArea .modern .pic1, #section-8.active .textArea .modern .pic4, #section-10.active .textArea .desc-1, #section-10.active .textArea .desc-2, #section-10.active .textArea .desc-3, #section-10.active .textArea .modern .pic1, #section-10.active .textArea .modern .pic2, #section-10.active .textArea .modern .pic3 {
  animation: opacityT 1.5s linear both;
}

#section-1.anitop .textArea #MailBig, #section-1.anitop .textArea #MailSmall, #section-3 .textArea .modern .pic1, #section-3 .textArea .modern .pic2, #section-3 .textArea .modern .pic3, #section-3.anitop .textArea .modern .pic1, #section-3.anitop .textArea .modern .pic2, #section-3.anitop .textArea .modern .pic3, #section-4 .textArea .desc, #section-4 .textArea .modern .pic2, #section-4 .textArea .modern .pic3, #section-4 .textArea .modern .pic4, #section-4.anitop .textArea .desc, #section-4.anitop .textArea .modern .pic2, #section-4.anitop .textArea .modern .pic3, #section-4.anitop .textArea .modern .pic4, #section-5 .textArea .modern .pic2, #section-5.anitop .textArea .modern .pic2, #section-6 .textArea .desc, #section-6 .textArea .modern .pic1, #section-6 .textArea .modern .pic2, #section-6 .textArea .modern .pic3, #section-6 .textArea .modern .pic4, #section-6.anitop .textArea .desc, #section-6.anitop .textArea .modern .pic1, #section-6.anitop .textArea .modern .pic2, #section-6.anitop .textArea .modern .pic3, #section-6.anitop .textArea .modern .pic4, #section-7 .textArea .desc, #section-7 .textArea .modern .pic1, #section-7.anitop .textArea .desc, #section-7.anitop .textArea .modern .pic1, #section-8 .textArea .modern .pic4, #section-8.anitop .textArea .modern .pic4, #section-10 .textArea .desc, #section-10 .textArea .modern .pic1, #section-10 .textArea .modern .pic2, #section-10 .textArea .modern .pic3, #section-10.anitop .textArea .desc-1, #section-10.anitop .textArea .desc-2, #section-10.anitop .textArea .desc-3, #section-10.anitop .textArea .modern .pic1, #section-10.anitop .textArea .modern .pic2, #section-10.anitop .textArea .modern .pic3 {
  animation: opacityF 1.5s linear both;
}

@keyframes section1MailBig {
  100% {
    transform: translateY(473px);
    opacity: 1;
  }
}

@keyframes section1MailBig2 {
  100% {
    transform: translateY(-1200px);
  }
}

@keyframes section1MailSmall {
  100% {
    transform: translateY(369px);
    opacity: 1;
  }
}

@keyframes section1MailSmall2 {
  100% {
    transform: translateY(-2100px);
  }
}

@keyframes section1Title {
  30% {
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes section1Modern {
  100% {
    opacity: 1;
  }
}

.section .textArea .topic {
  position: absolute;
  top: 0;
  z-index: 30;
  font-size: 24px;
  line-height: normal;
}

.section .textArea .desc {
  font-size: 16px;
  line-height: 1.9;
  position: absolute;
  top: 0;
}

#section-1 .textArea #SKY-star {
  position: absolute;
  left: -288px;
  top: 0;
  z-index: 1;
}

#section-1 .textArea #MailSmall {
  position: absolute;
  left: -288px;
  top: 0;
  z-index: 3;
  transform: translateY(761px);
}

#section-1 .textArea #MailBig {
  position: absolute;
  left: -195px;
  z-index: 4;
  transform: translateY(850px);
}

#section-1 .textArea .title {
  width: 554px;
  height: 176px;
  text-align: center;
  top: 0;
  transform: translateY(197px);
}

#section-1 .textArea .title #SKY-slogan2 {
  width: 554px;
  height: 176px;
}

#section-1 .textArea .subTitle {
  width: 590px;
  line-height: 1.8;
  color: #94a7c6;
  font-size: 14px;
  font-weight: 300;
  left: 30px;
  transform: translateY(416px);
}

#section-1 .textArea .subTitle p {
  margin: 0;
}

#section-1 .textArea .modern {
  width: 375px;
  height: 26px;
  z-index: 5;
  top: 0;
  transform: translateY(29px);
}

#section-1 .textArea .modern .logo {
  height: 26px;
  background-image: url("../image/logo.png");
}

#section-1.active .textArea #MailBig {
  transform: translateY(473px);
}

#section-1.active .textArea #MailSmall {
  transform: translateY(369px);
}

#section-1.active .textArea .title {
  transform: translateY(197px);
}

#section-1.active .textArea .modern {
  transform: translateY(29px);
}

#section-1.active .textArea .subTitle {
  transform: translateY(416px);
}

#section-1.anitop .textArea #MailBig {
  transform: translateY(-1200px);
}

#section-1.anitop .textArea #MailSmall {
  transform: translateY(-2800px);
}

#section-1.anitop .textArea .subTitle {
  transform: translateY(-10px);
}

#section-1.anitop .textArea .title {
  transform: translateY(-425px);
}

#section-1.anitop .textArea .modern {
  transform: translateY(-400px);
}

/* section-2*/
#section-2 .textArea {
  color: #5c94a2;
}

#section-2 .textArea .topic {
  left: 188px;
  transform: translateY(300px);
}

#section-2 .textArea .desc {
  width: 639px;
  left: 191px;
}

#section-2 .textArea .modern {
  width: 653px;
  height: 44px;
  position: absolute;
  left: 190px;
  top: 0;
  transform: translateY(430px);
  background: url("../image/title.png") no-repeat;
  z-index: 30;
}

#section-2 .textArea .desc-1 {
  transform: translateY(1076px);
}

#section-2 .textArea .desc-2 {
  width: 640px;
  height: 480px;
  transform: translateY(1400px);
}

#section-2.active .topic {
  transform: translateY(70px);
}

#section-2.active .modern {
  transform: translateY(125px);
}

#section-2.active .desc-1 {
  transform: translateY(200px);
}

#section-2.active .desc-2 {
  transform: translateY(284px);
}

#section-2.anitop .topic {
  transform: translateY(-300px);
}

#section-2.anitop .modern {
  transform: translateY(-1500px);
}

#section-2.anitop .desc-1 {
  transform: translateY(-1416px);
}

#section-2.anitop .desc-2 {
  transform: translateY(-300px);
}

/* section-3 */
#section-3 .textArea {
  color: #748a9e;
}

#section-3 .textArea .topic {
  left: 256px;
  transform: translateY(433px);
}

#section-3 .textArea .desc {
  width: 510px;
  left: 256px;
  color: #727f8c;
  transform: translateY(1532px);
}

#section-3 .textArea .modern {
  position: relative;
}

#section-3 .textArea .modern .title {
  width: 512px;
  height: 45px;
  position: absolute;
  left: 255px;
  background: url("../image/title-2.png") no-repeat;
  transform: translateY(463px);
}

#section-3 .textArea .modern .pic1 {
  width: 233px;
  height: 250px;
  background: url("../image/pic_1.png") no-repeat;
  position: absolute;
  left: 0;
  top: 425px;
  transform: translateX(2000px);
  opacity: 0;
}

#section-3 .textArea .modern .pic2 {
  width: 211px;
  height: 299px;
  position: absolute;
  top: 365px;
  left: 0px;
  background: url("../image/pic_2.png") no-repeat;
  transform: translateX(-1400px);
  opacity: 0;
}

#section-3 .textArea .modern .pic3 {
  width: 819px;
  height: 325px;
  position: absolute;
  left: 103px;
  top: 0;
  transform: translateY(2000px);
  opacity: 0;
  background: url("../image/pic_3.png") no-repeat;
}

#section-3.active .textArea .topic {
  transform: translateY(124px);
}

#section-3.active .textArea .desc {
  transform: translateY(254px);
}

#section-3.active .textArea .modern .title {
  transform: translateY(174px);
}

#section-3.active .textArea .modern .pic1 {
  transform: translateX(-95px);
}

#section-3.active .textArea .modern .pic2 {
  transform: translateX(839px);
}

#section-3.active .textArea .modern .pic3 {
  transform: translateY(412px);
}

#section-3.anitop .textArea .topic {
  transform: translateY(-301px);
}

#section-3.anitop .textArea .desc {
  transform: translateY(-700px);
}

#section-3.anitop .textArea .modern .title {
  transform: translateY(-251px);
}

#section-3.anitop .textArea .modern .pic1 {
  transform: translateX(-3495px);
}

#section-3.anitop .textArea .modern .pic2 {
  transform: translateX(4239px);
}

#section-3.anitop .textArea .modern .pic3 {
  transform: translateY(-1000px);
}

/* section-4*/
#section-4 .textArea {
  color: #c9c87d;
}

#section-4 .textArea .topic {
  transform: translateY(460px);
  left: 256px;
}

#section-4 .textArea .desc {
  width: 430px;
  color: #fffde1;
  top: 378px;
  transform: translateX(-1866px);
  opacity: 0;
}

#section-4 .textArea .modern .title {
  width: 513px;
  height: 45px;
  left: 254px;
  position: absolute;
  transform: translateY(500px);
  background: url("../image/title-4.png") no-repeat;
}

#section-4 .textArea .modern .pic1 {
  width: 322px;
  height: 143px;
  position: absolute;
  left: 700px;
  top: 0;
  transform: translateY(4000px);
  z-index: 5;
  background: url("../image/pic_1_1.png") no-repeat;
}

#section-4 .textArea .modern .pic2 {
  width: 53px;
  height: 71px;
  top: 403px;
  left: 605px;
  z-index: 4;
  opacity: 0;
  position: absolute;
  background: url("../image/pic_2_1.png") no-repeat;
}

#section-4 .textArea .modern .pic3 {
  width: 441px;
  height: 380px;
  position: absolute;
  top: 470px;
  left: 0;
  transform: translateX(2700px);
  opacity: 0;
  z-index: 3;
  background: url("../image/pic_4_1.png") no-repeat;
}

#section-4 .textArea .modern .pic4 {
  width: 892px;
  height: 472px;
  position: absolute;
  left: 230px;
  top: 0;
  z-index: 2;
  opacity: 0;
  transform: translateY(531px);
  background: url("../image/pic_4_1_2.png") no-repeat;
}

#section-4.active .textArea .topic {
  transform: translateY(144px);
}

#section-4.active .textArea .desc {
  transform: translateX(30px);
}

#section-4.active .textArea .modern .title {
  transform: translateY(192px);
}

#section-4.active .textArea .modern .pic1 {
  transform: translateY(707px);
}

#section-4.active .textArea .modern .pic3 {
  transform: translateX(504px);
}

#section-4.active .textArea .modern .pic4 {
  transform: translateY(304px);
}

#section-4.anitop .textArea .topic {
  transform: translateY(-281px);
}

#section-4.anitop .textArea .desc {
  transform: translateX(800px);
}

#section-4.anitop .textArea .modern .title {
  transform: translateY(-233px);
}

#section-4.anitop .textArea .modern .pic1 {
  transform: translateY(-4393px);
}

#section-4.anitop .textArea .modern .pic3 {
  transform: translateX(0px);
}

#section-4.anitop .textArea .modern .pic4 {
  transform: translateY(-36px);
}

/* section-5*/
#section-5 .textArea {
  color: #a0b4cb;
}

#section-5 .textArea .topic {
  left: 256px;
  transform: translateY(423px);
}

#section-5 .textArea .desc {
  color: #798fa6;
  width: 510px;
  left: 257px;
  transform: translateY(1400px);
}

#section-5 .textArea .modern .title {
  width: 512px;
  height: 45px;
  position: absolute;
  left: 255px;
  top: 0;
  transform: translateY(473px);
  background: url("../image/title-5.png") no-repeat;
}

#section-5 .textArea .modern .pic1 {
  width: 1019px;
  height: 248px;
  position: absolute;
  left: -10px;
  top: 0;
  transform: translateY(1569px);
  background: url("../image/pic_5_1.png") no-repeat;
  z-index: 3;
}

#section-5 .textArea .modern .pic2 {
  width: 1156px;
  height: 449px;
  position: absolute;
  left: -46px;
  top: 0;
  opacity: 0;
  background: url("../image/pic_5_2.png") no-repeat;
  z-index: 2;
  transform: translateY(3000px);
}

#section-5 .textArea .modern .pic3 {
  width: 1228px;
  height: 372px;
  position: absolute;
  left: -109px;
  top: 0;
  z-index: 1;
  transform: translateY(938px);
  background: url("../image/pic_5_3.png") no-repeat;
}

#section-5.active .textArea .topic {
  transform: translateY(138px);
}

#section-5.active .textArea .desc {
  transform: translateY(267px);
}

#section-5.active .textArea .modern .title {
  transform: translateY(188px);
}

#section-5.active .textArea .modern .pic1 {
  transform: translateY(427px);
}

#section-5.active .textArea .modern .pic2 {
  transform: translateY(300px);
}

#section-5.anitop .textArea .topic {
  transform: translateY(-281px);
}

#section-5.anitop .textArea .desc {
  transform: translateY(-1433px);
}

#section-5.anitop .textArea .modern .title {
  transform: translateY(-237px);
}

#section-5.anitop .textArea .modern .pic1 {
  transform: translateY(-1273px);
}

#section-5.anitop .textArea .modern .pic2 {
  transform: translateY(-3950px);
}

#section-5.anitop .textArea .modern .pic3 {
  transform: translateX(-483px);
}

/* section-6*/
#section-6 .textArea {
  color: #999fac;
}

#section-6 .textArea .topic {
  left: 254px;
  transform: translateY(460px);
}

#section-6 .textArea .desc {
  color: #fff;
  width: 208px;
  top: 520px;
  left: 0;
  font-size: 14px;
  line-height: 24px;
  opacity: 0;
}

#section-6 .textArea .desc h4 {
  font-size: 23px;
  line-height: normal;
  margin-bottom: 12px;
  font-weight: normal;
}

#section-6 .textArea .desc-1 {
  transform: translateX(-585px);
}

#section-6 .textArea .desc-2 {
  transform: translateX(46px);
}

#section-6 .textArea .desc-3 {
  transform: translateX(794px);
}

#section-6 .textArea .desc-4 {
  transform: translateX(1420px);
}

#section-6 .textArea .modern .title {
  width: 511px;
  height: 44px;
  position: absolute;
  left: 255px;
  top: 0;
  transform: translateY(510px);
  background: url("../image/title-6.png") no-repeat;
}

#section-6 .textArea .modern .pic1 {
  width: 162px;
  height: 182px;
  position: absolute;
  top: 354px;
  left: 0;
  transform: translateX(-627px);
  opacity: 0;
  background: url("../image/pic_6_1.png") no-repeat;
}

#section-6 .textArea .modern .pic2 {
  width: 172px;
  height: 178px;
  position: absolute;
  top: 360px;
  left: 0;
  transform: translateX(27px);
  opacity: 0;
  background: url("../image/pic_6_2.png") no-repeat;
}

#section-6 .textArea .modern .pic3 {
  width: 169px;
  height: 179px;
  position: absolute;
  top: 359px;
  left: 0;
  transform: translateX(800px);
  opacity: 0;
  background: url("../image/pic_6_3.png") no-repeat;
}

#section-6 .textArea .modern .pic4 {
  width: 162px;
  height: 173px;
  position: absolute;
  top: 364px;
  left: 0;
  transform: translateX(1477px);
  opacity: 0;
  background: url("../image/pic_6_4.png") no-repeat;
}

#section-6.active .textArea .topic {
  transform: translateY(144px);
}

#section-6.active .textArea .desc-1 {
  transform: translateX(-3px);
}

#section-6.active .textArea .desc-2 {
  transform: translateX(279px);
}

#section-6.active .textArea .desc-3 {
  transform: translateX(562px);
}

#section-6.active .textArea .desc-4 {
  transform: translateX(838px);
}

#section-6.active .textArea .modern .title {
  transform: translateY(193px);
}

#section-6.active .textArea .modern .pic1 {
  transform: translateX(7px);
}

#section-6.active .textArea .modern .pic2 {
  transform: translateX(281px);
}

#section-6.active .textArea .modern .pic3 {
  transform: translateX(562px);
}

#section-6.active .textArea .modern .pic4 {
  transform: translateX(843px);
}

#section-6.anitop .textArea .topic {
  transform: translateY(-281px);
}

#section-6.anitop .textArea .desc-1 {
  transform: translateX(840px);
}

#section-6.anitop .textArea .desc-2 {
  transform: translateX(600px);
}

#section-6.anitop .textArea .desc-3 {
  transform: translateX(200px);
}

#section-6.anitop .textArea .desc-4 {
  transform: translateX(0px);
}

#section-6.anitop .textArea .modern .title {
  transform: translateY(-200px);
}

#section-6.anitop .textArea .modern .pic1 {
  transform: translateX(850px);
}

#section-6.anitop .textArea .modern .pic2 {
  transform: translateX(600px);
}

#section-6.anitop .textArea .modern .pic3 {
  transform: translateX(200px);
}

#section-6.anitop .textArea .modern .pic4 {
  transform: translateX(0px);
}

/* section-7*/
#section-7 .textArea {
  color: #70877e;
}

#section-7 .textArea .topic {
  left: 233px;
  transform: translateY(470px);
}

#section-7 .textArea .desc {
  color: #5c7970;
  width: 447px;
  position: absolute;
  top: 447px;
  left: 0;
  transform: translateX(2500px);
  opacity: 0;
}

#section-7 .textArea .modern .title {
  width: 561px;
  height: 44px;
  position: absolute;
  left: 231px;
  top: 0;
  transform: translateY(500px);
  background: url("../image/title-7.png") no-repeat;
}

#section-7 .textArea .modern .pic1 {
  width: 597px;
  height: 284px;
  position: absolute;
  top: 373px;
  left: 0;
  opacity: 0;
  transform: translateX(-2000px);
  z-index: 2;
  background: url("../image/pic_7_1.png") no-repeat;
}

#section-7 .textArea .modern .pic2 {
  width: 1100px;
  height: 545px;
  position: absolute;
  left: -24px;
  top: 0;
  transform: translateY(-2000px);
  background: url("../image/pic_7_2.png") no-repeat;
}

#section-7.active .textArea .topic {
  transform: translateY(157px);
}

#section-7.active .textArea .desc {
  transform: translateX(606px);
}

#section-7.active .textArea .modern .title {
  transform: translateY(207px);
}

#section-7.active .textArea .modern .pic1 {
  transform: translateX(-4px);
}

#section-7.active .textArea .modern .pic2 {
  transform: translateY(0px);
}

#section-7.anitop .textArea .topic {
  transform: translateY(-260px);
}

#section-7.anitop .textArea .desc {
  transform: translateX(-2000px);
}

#section-7.anitop .textArea .modern .title {
  transform: translateY(-200px);
}

#section-7.anitop .textArea .modern .pic1 {
  transform: translateX(2500px);
}

#section-7.anitop .textArea .modern .pic2 {
  transform: translateY(-2500px);
}

/* section-8*/
#section-8 .textArea {
  color: #969ba0;
}

#section-8 .textArea .topic {
  left: 226px;
  transform: translateY(500px);
}

#section-8 .textArea .desc {
  color: #eaeff2;
  width: 420px;
  position: absolute;
  top: 0;
  left: 599px;
  transform: translateY(1600px);
}

#section-8 .textArea .modern .title {
  width: 561px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 230px;
  transform: translateY(520px);
  background: url("../image/title-8.png") no-repeat;
}

#section-8 .textArea .modern .pic1 {
  width: 651px;
  height: 231px;
  position: absolute;
  top: 496px;
  left: -57px;
  z-index: 2;
  background: url("../image/pic_8_1.png") no-repeat;
}

#section-8 .textArea .modern .pic2 {
  width: 1600px;
  height: 209px;
  position: absolute;
  bottom: -850px;
  left: -288px;
  z-index: 3;
  background: url("../image/pic_8_2.png") no-repeat;
}

#section-8 .textArea .modern .pic3 {
  width: 699px;
  height: 201px;
  position: absolute;
  left: -115px;
  top: 0;
  transform: translateY(3000px);
  z-index: 1;
  background: url("../image/pic_8_3.png") no-repeat;
}

#section-8 .textArea .modern .pic4 {
  width: 182px;
  height: 206px;
  position: absolute;
  top: 0;
  left: 304px;
  z-index: 1;
  transform: translateY(3000px);
  opacity: 0;
  background: url("../image/pic_8_4.png") no-repeat;
}

#section-8.active .textArea .topic {
  transform: translateY(159px);
}

#section-8.active .textArea .desc {
  transform: translateY(365px);
}

#section-8.active .textArea .modern .title {
  transform: translateY(207px);
}

#section-8.active .textArea .modern .pic3 {
  transform: translateY(462px);
}

#section-8.active .textArea .modern .pic4 {
  transform: translateY(362px);
}

#section-8.anitop .textArea .topic {
  transform: translateY(-270px);
}

#section-8.anitop .textArea .desc {
  transform: translateY(-1300px);
}

#section-8.anitop .textArea .modern .title {
  transform: translateY(-200px);
}

#section-8.anitop .textArea .modern .pic3 {
  transform: translateY(-3000px);
}

#section-8.anitop .textArea .modern .pic4 {
  transform: translateY(-3000px);
}

/* section-9*/
#section-9 .textArea {
  color: #5f7588;
}

#section-9 .textArea .topic {
  left: 234px;
  transform: translateY(490px);
}

#section-9 .textArea .desc {
  color: #566775;
  width: 565px;
  position: absolute;
  left: 233px;
  top: 0;
  transform: translateY(1600px);
}

#section-9 .textArea .modern .title {
  width: 564px;
  height: 44px;
  position: absolute;
  left: 230px;
  top: 0;
  transform: translateY(530px);
  background: url("../image/title-9.png") no-repeat;
}

#section-9 .textArea .modern .pic1 {
  width: 1073px;
  height: 215px;
  position: absolute;
  left: -23px;
  top: 552px;
  background: url("../image/pic_9_1.png") no-repeat;
}

#section-9 .textArea .modern .pic2 {
  width: 164px;
  height: 117px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2500px, 2700px);
  background: url("../image/pic_9_2.png") no-repeat;
}

#section-9 .textArea .modern .pic3 {
  width: 70px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(2300px, 2700px);
  background: url("../image/pic_9_3.png") no-repeat;
}

#section-9 .textArea .modern .pic4 {
  width: 43px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(2300px, 2700px);
  background: url("../image/pic_9_4.png") no-repeat;
}

#section-9.active .textArea .topic {
  transform: translateY(173px);
}

#section-9.active .textArea .desc {
  transform: translateY(332px);
}

#section-9.active .textArea .modern .title {
  transform: translateY(214px);
}

#section-9.active .textArea .modern .pic2 {
  transform: translate(239px, 490px);
}

#section-9.active .textArea .modern .pic3 {
  transform: translate(88px, 464px);
}

#section-9.active .textArea .modern .pic4 {
  transform: translate(5px, 430px);
}

#section-9.anitop .textArea .topic {
  transform: translateY(-250px);
}

#section-9.anitop .textArea .desc {
  transform: translateY(-1300px);
}

#section-9.anitop .textArea .modern .title {
  transform: translateY(-200px);
}

#section-9.anitop .textArea .modern .pic2 {
  transform: translate(-3100px, -2900px);
}

#section-9.anitop .textArea .modern .pic3 {
  transform: translate(-3300px, -2900px);
}

#section-9.anitop .textArea .modern .pic4 {
  transform: translate(-3300px, -2900px);
}

/* section-10*/
#section-10 .textArea {
  color: #43efca;
}

#section-10 .textArea .topic {
  left: 261px;
  transform: translateY(450px);
}

#section-10 .textArea .desc {
  width: 250px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 687px;
  opacity: 0;
}

#section-10 .textArea .desc .bdr {
  position: absolute;
  top: 2;
  height: 68px;
  font-size: 0;
  line-height: 0;
  border-right: 1px solid #12ab86;
}

#section-10 .textArea .desc-1 {
  left: 0;
  transform: translateX(-1300px);
}

#section-10 .textArea .desc-1 .bdr {
  left: 290px;
}

#section-10 .textArea .desc-2 {
  left: 401px;
}

#section-10 .textArea .desc-3 {
  left: 0;
  transform: translateX(2100px);
}

#section-10 .textArea .desc-3 .bdr {
  left: -106;
}

#section-10 .textArea .modern .title {
  width: 609px;
  height: 45px;
  position: absolute;
  left: 260px;
  top: 0;
  transform: translateY(480px);
  background: url("../image/title_10.png") no-repeat;
}

#section-10 .textArea .modern .title .yixin {
  width: 89px;
  height: 90px;
  position: absolute;
  left: -108px;
  top: -46px;
  background: url("../image/title_3.png") no-repeat;
}

#section-10 .textArea .modern .pic1 {
  width: 241px;
  height: 311px;
  position: absolute;
  left: 0;
  top: 341px;
  transform: translateX(-1200px);
  opacity: 0;
  background: url("../image/title_5.png") no-repeat;
}

#section-10 .textArea .modern .pic2 {
  width: 264px;
  height: 303px;
  position: absolute;
  left: 366px;
  top: 340px;
  opacity: 0;
  background: url("../image/title_6.png") no-repeat;
}

#section-10 .textArea .modern .pic3 {
  width: 325px;
  height: 311px;
  position: absolute;
  top: 341px;
  left: 0;
  transform: translateX(2000px);
  opacity: 0;
  background: url("../image/title_7.png") no-repeat;
}

#section-10.active .textArea .topic {
  transform: translateY(129px);
}

#section-10.active .textArea .desc-1 {
  transform: translateX(-4px);
}

#section-10.active .textArea .desc-3 {
  transform: translateX(800px);
}

#section-10.active .textArea .modern .title {
  transform: translateY(174px);
}

#section-10.active .textArea .modern .pic1 {
  transform: translateX(-53px);
}

#section-10.active .textArea .modern .pic3 {
  transform: translateX(763px);
}

#section-10.anitop .textArea .topic {
  transform: translateY(-300px);
}

#section-10.anitop .textArea .desc-1 {
  transform: translateX(1700px);
}

#section-10.anitop .textArea .desc-3 {
  transform: translateX(-800px);
}

#section-10.anitop .textArea .modern .title {
  transform: translateY(-250px);
}

#section-10.anitop .textArea .modern .pic1 {
  transform: translateX(1600px);
}

#section-10.anitop .textArea .modern .pic3 {
  transform: translateX(-900px);
}

/* section-11*/
@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.9, 0.82);
  }
  100% {
    transform: scale(1, 1);
  }
}

#section-11 .textArea .modern .title-1 {
  width: 465px;
  height: 79px;
  position: absolute;
  left: 281px;
  top: 0;
  transform: translateY(780px);
  background: url("../image/title_1.png") no-repeat;
}

#section-11 .textArea .modern .title-2 {
  width: 555px;
  height: 37px;
  position: absolute;
  left: 235px;
  top: 0;
  transform: translateY(1400px);
  background: url("../image/title_2.png") no-repeat;
}

#section-11 .textArea .modern .btn {
  width: 254px;
  height: 70px;
  position: absolute;
  z-index: 10;
  left: 385px;
  top: 2500px;
  background: url("../image/btn.png") no-repeat;
  transition: top 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#section-11 .textArea .modern .btn:hover {
  animation: scale .3s linear;
}

#section-11 .textArea .modern .pic {
  width: 1274px;
  height: 548px;
  position: absolute;
  left: -123px;
  top: 0;
  transform: translateY(100px);
  background: url("../image/pic.png") no-repeat;
}

#section-11.active .textArea .title-1 {
  transform: translateY(225px);
}

#section-11.active .textArea .title-2 {
  transform: translateY(334px);
}

#section-11.active .textArea .btn {
  top: 439px;
}

#section-11.active .textArea .pic {
  transform: translateY(46px);
}
